/* =========================================
        GLOBAL DARK THEME
========================================= */

body.dark-mode{
    background:#121212 !important;
    color:#ffffff !important;
}

/* Cards */

body.dark-mode .card,
body.dark-mode .settings-card,
body.dark-mode .profile-card,
body.dark-mode .report-card,
body.dark-mode .upload-card,
body.dark-mode .result-card,
body.dark-mode .login-card{
    background:#1f1f1f !important;
    color:#ffffff !important;
    border:1px solid #333;
}

/* Sidebar */

body.dark-mode .sidebar{
    background:#181818 !important;
}

/* Topbar */

body.dark-mode .topbar{
    background:#1f1f1f !important;
    color:#ffffff;
}

/* Inputs */

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select{

    background:#2a2a2a !important;
    color:white !important;
    border:1px solid #555 !important;

}

/* Tables */

body.dark-mode table{

    color:white;

}

body.dark-mode th{

    background:#252525;

}

body.dark-mode td{

    background:#1d1d1d;

}

/* Footer */

body.dark-mode footer{

    background:#3b3838e3;

    color:white;

}