# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# PyTorch Models
*.pth
*.pt

# Logs
*.log

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db
