# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# PyTorch Models
#*.pth
#*.pt

# Logs
*.log

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Ignore medical datasets
ai_model/dataset/
#ai_model/datasets/

# Ignore medical image datasets
ai_model/dataset/
